body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #039;
}

#canvas {
    min-width: 1000px;
    min-height: 640px;
    margin: 0 auto;
    padding: 0;
}

canvas {
    margin: 0;
    padding: 0;
}

